.content{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

form{
    position: relative;
    background: #F8F8FF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font: normal 15px tahoma, sans-serif;
}

form input{
    font: normal 15px tahoma, sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.button {
    font: normal 15px tahoma, geneva, sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00408A;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #F8F8FF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }


.button:hover{
    background-color: #2C75C9
  }

.error {
    margin: 15px 0 0;
    color: #3a4660;
    font: normal 12px tahoma, geneva, sans-serif;
  
  }
  body {
    background: #2C75C9; 
  }

.colourLogo{
      width: 100px;
      height: 100px;
  }
  